.DS_Store
**/node_modules/
**/dist/
**/.env
**/.env.test

# Frontend (based off of standard Vite app)
./web/dist-ssr
./web/*.local
./web/.DS_Store
./web/# Logs
./web/logs
./web/*.log
./web/npm-debug.log*
./web/yarn-debug.log*
./web/yarn-error.log*
./web/pnpm-debug.log*
./web/lerna-debug.log*